.sans {
  font-family: "source-sans-pro";
}
.serif {
  font-family: "freight-display-pro";
}
body {
  font-family: "source-sans-pro";
  color: black;
  background-color: white;
}
a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted black;
}
a:hover {
  color: black;
  text-decoration: none;
  border-bottom-style: solid;
}
#header {
  font-family: "freight-display-pro";
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem 0;
}
#header h1 {
  font-weight: 900;
  margin: 0;
  font-size: 2em;
}
#header p {
  margin: 0;
}
#footer {
  font-family: "freight-display-pro";
  margin: 3rem 0;
  text-align: center;
}
.movies {
  width: 100%;
  margin: 0 0 2rem 0;
}
.movies a {
  text-decoration: none;
}
.movies .date {
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .1em;
}
.movies .movie:first-child td {
  border-top: none;
}
.movies .movie.banner td {
  border-top: none;
  border-bottom: none;
}
.movies .movie.banner a {
  color: white !important;
  border-bottom: 1px dotted white !important;
}
.movies .movie.banner .title h2 {
  font-size: 3em;
}
.movies .movie.banner .title a {
  border: none !important;
}
.movies .movie td {
  vertical-align: middle;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 1.5em .75em;
}
.movies .movie td.time {
  width: 5%;
}
@media (max-width: 767px) {
  .movies .movie td.time {
    width: 1px;
    white-space: nowrap;
  }
}
.movies .movie td.title {
  width: 40%;
}
@media (max-width: 767px) {
  .movies .movie td.title {
    width: auto;
  }
}
.movies .movie td.title h2 {
  font-family: "freight-display-pro";
  font-weight: 900;
  font-size: 2em;
  margin: 0;
}
.movies .movie td.rating {
  text-align: right;
  width: 5%;
  white-space: nowrap;
}
.movies .movie td.venue {
  width: 20%;
}
@media (max-width: 767px) {
  .movies .movie td.venue {
    width: 1px;
    text-align: right;
    white-space: nowrap;
  }
}
.movies .movie td.entry {
  text-align: right;
  width: 5%;
  white-space: nowrap;
}
.movies .movie td.year {
  text-align: right;
  width: 5%;
  white-space: nowrap;
}
.movies .movie td.runtime {
  text-align: right;
  width: 5%;
  white-space: nowrap;
}
.movies p {
  margin: 0;
}
