body {
  color: black;
  font-family: "futura-pt";
}
.movies .movie .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.movies .movie.dark {
  color: white;
}
.movies .movie.light {
  color: black;
}
.movies .title {
  font-weight: 700;
  font-size: 4em;
  margin: 0 0 1rem 0;
}
.movies p {
  margin: 0;
}
