body {
	color: black;
	font-family: "futura-pt";
}

.movies {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		margin: 0;
		padding: 2em;

		&.dark {
			color: white;
		}

		&.light {
			color: black;
		}

	}

	.title {
		font-weight: 900;
		font-size: 4em;
	}

	p {
		margin: 0;
	}

}
