@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-phone: @screen-xs-min;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-desktop: @screen-md-min;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

.sans {
	font-family: "source-sans-pro";
}

.serif {
	font-family: "freight-display-pro";
}

body {
	.sans;
	color: black;
	background-color: white;
}

#header {
	.serif;
	background-color: black;
	color: white;
	text-align: center;
	padding: 2rem 0;

	h1 {
		font-weight: 900;
		margin: 0;
		font-size: 2em;
	}

	p {
		margin: 0;
	}

}

.movies {
	width: 100%;
	margin: 0 0 2rem 0;

	a {
		text-decoration: none;
	}

	.movie {

		&:first-child {

			td {
				border-top: none;
			}

		}

		td {
			vertical-align: middle;
			border-top: 1px solid #DDD;
			border-bottom: 1px solid #DDD;
			padding: 0 1em;

			&.datetime {
				width: 10%;
				padding-left: 0;
			}

			&.title {
				width: 40%;

				h2 {
					.serif;
					font-weight: 900;
					font-size: 2em;
					margin: 2rem 0;
				}

			}

			&.venue {
				width: 15%;
			}

			&.entry {
				text-align: right;
				width: 5%;
			}

			&.year {
				text-align: right;
				width: 5%;
			}

			&.runtime {
				text-align: right;
				width: 10%;
			}

			&.rating {
				text-align: right;
				width: 5%;
				padding-right: 0;
			}

		}

	}

	p {
		margin: 0;
	}

}
